body {
  background-color: rgb(170, 170, 238);
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
}
.container {
  width: 500px;
  margin: auto;
  background-color: #e4eff5;
  border-radius: 10px;
}
.top {
  padding: 10px 30px;
}
.top p {
  color: #98a6be;
  font-size: 20px;
  line-height: 1.7;
}
.top h2 {
  color: #c0df33;
}
.top h1 {
  color: #2ab2b0;
}
.left {
  background-color: #2ab2af;
  padding: 10px 30px;
  padding-bottom: 40px;
}
.left h2,
h1,
p {
  color: white;
  line-height: 1.5;
}
.left p {
  font-size: 20px;
}

.button {
  background-color: #c1df33;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 20px 185px;
}
.right {
  background-color: #4bbebd;
  padding: 10px 30px;
}
.right h2 {
  color: white;
}
.right p {
  line-height: 1.7;
}
