body {
  background-color: rgb(170, 170, 238);
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
  letter-spacing: 1px;
}
.container {
  width: 550px;
  margin: auto;
  background-color: #e4eff5;
  border-radius: 10px;
}
.top {
  padding: 10px 30px;
}
.top p {
  color: #98a6be;
  font-size: 20px;
  line-height: 1.7;
}
.top h2 {
  color: #c0df33;
}
.top h1 {
  color: #2ab2b0;
}
.left {
  background-color: #2ab2af;
  padding: 10px 30px;
  padding-bottom: 30px;
}
.left h2,
h1,
p {
  color: white;
  line-height: 1.5;
}
.left p {
  font-size: 20px;
}
.number {
  display: flex;
  height: 75px;
}
.number p {
  padding: 15px 20px;
  font-size: 20px;
}
.button {
  background-color: #c1df33;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 20px 210px;
  margin: 10px 0px;
}
.right {
  background-color: #4bbebd;
  padding: 10px 30px;
}
.right h2 {
  color: white;
}
.right p {
  line-height: 1.7;
}
@media only screen and (min-width: 768px) {
  .container {
    display: flexbox;
    width: 44%;
    margin: auto;
  }
  .bottom {
    display: flex;
    justify-items: center;
    width: auto;
  }
  .button {
    padding: 10px 150px;
    width: auto;
  }
  .right {
    width: 100%;
  }
  .right p {
    line-height: 0.8;
  }
  .right h2 {
    padding-bottom: 10px;
  }
  .left p {
    line-height: 0.8;
  }
}
